.message {
    color:green;
    font-size:20px;
    border:solid 2px green;
    background-color: rgb(219, 217, 217);
    border-radius: 5px;
    padding:10px 20px;
}

.error {
    color:red;
    border-color: red;
}